.hero-stats{

margin-top:-40px;

position:relative;

z-index:50;

}

.stats-grid{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:30px;

}

.stat-card{

background:white;

padding:25px;

border-radius:24px;

text-align:inherit;

box-shadow:0 20px 45px rgba(0,0,0,.08);

transition:.35s;

min-height: 60px;

}

.stat-card:hover{

transform:translateY(-8px);

}

.stat-card h2{

font-size:2rem;

color:var(--primary);

margin-bottom:10px;

}

.stat-card p{

color:#0e329e;

font-weight:500;

}



/*==================================================
                TABLET
==================================================*/

@media(max-width:1050px){

    .hero-stats{

       padding: 50px;

    }
}


/*==================================================
                MOBILE
==================================================*/

@media(max-width:850px){

    .hero-stats{

       padding: 50px;

    }
}


/*==================================================
                SMALL MOBILE
==================================================*/

@media(max-width:480px){

   .hero-stats{

       padding: 50px;

    }
}


@media(max-width:768px){

.stats-grid{

grid-template-columns:1fr 1fr;

}

}

@media(max-width:500px){

.stats-grid{

grid-template-columns:1fr;

}

}